<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div class="divContenedor">
  <div class="derecha">

    <div class="numeroBolita">
      {{numeroBolita}}
    </div>
    
    <div class="titulos">
      <p class="title">{{title}}</p>
      <div class="subtitulos">
        <p class="subtitle">{{subtitle}}</p>
        <p class="subtitleBold">{{subtitleBold}}</p>
      </div>
      <p class="italic">{{italic}}</p>
    </div>
  </div>
  
  
  <button>{{messageButton}}</button>
</div>



